[default]
log_level = DEBUG
prompt_name = opensips-cli
prompt_intro = Welcome to OpenSIPS Command Line Interface!
prompt_emptyline_repeat_cmd = False
history_file = ~/.opensips-cli.history
history_file_size = 1000
output_type = pretty-print
transport = http
http_url = http://172.72.0.2:8888/MI
# transport = fifo
# fifo_name = /run/opensips/opensips_fifo

# Database connection settings
database_admin_url = mysql://root:root@mysql:3306/
database_url = mysql://opensips:opensipsrw@mysql:3306/opensips
database_modules = mysql
database_schema_path = /usr/share/opensips/mysql

